// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2020 Rockchip Electronics Co., Ltd.
 *
 */

 /dts-v1/;
#include <dt-bindings/display/media-bus-format.h>
#include "rk3568-firefly-roc-pc.dtsi"

/ {
	model = "ROC-RK356-PC triple screen HDMI+MIPI+EDP+LVDS (Android)";
	compatible = "rockchip,rk3568-firefly-roc-pc-triple-display", "rockchip,rk3568";

    backlight: backlight {
        status = "okay";
        compatible = "pwm-backlight";
        enable-gpios = <&gpio4 RK_PD2 GPIO_ACTIVE_HIGH>;
        pwms = <&pwm5 0 50000 1>;
        brightness-levels = <
             60  60  60  61  61  61  62  62
             62  63  63  63  64  64  64  65
             65  65  66  66  66  67  67  67
             68  68  68  69  69  69  70  70
             70  71  71  71  72  72  72  73
             73  73  74  74  74  75  75  75
             76  76  76  77  77  77  78  78
             78  79  79  79  80  80  80  81
             81  81  82  82  82  83  83  83
             84  84  84  85  85  85  86  86
             86  87  87  87  88  88  88  89
             89  89  90  91  92  93  94  95
             96  97  98  99 100 101 102 103
            104 105 106 107 108 109 110 111
            112 113 114 115 116 117 118 119
            120 121 122 123 124 125 126 127
            128 129 130 131 132 133 134 135
            136 137 138 139 140 141 142 143
            144 145 146 147 148 149 150 151
            152 153 154 155 156 157 158 159
            160 161 162 163 164 165 166 167
            168 169 170 171 172 173 174 175
            176 177 178 179 180 181 182 183
            184 185 186 187 188 189 190 191
            192 193 194 195 196 197 198 199
            200 201 202 203 204 205 206 207
            208 209 210 211 212 213 214 215
            216 217 218 219 220 221 222 223
            224 225 226 227 228 229 230 231
            232 233 234 235 236 237 238 239
            240 241 242 243 244 245 246 247
            248 249 250 251 252 253 254 255
        >;
        default-brightness-level = <200>;
    };

    backlight1:backlight1 {
        status = "okay";
        compatible = "pwm-backlight";
        pwms = <&pwm4 0 25000 1>;
        brightness-levels = <
             60  60  60  61  61  61  62  62
             62  63  63  63  64  64  64  65
             65  65  66  66  66  67  67  67
             68  68  68  69  69  69  70  70
             70  71  71  71  72  72  72  73
             73  73  74  74  74  75  75  75
             76  76  76  77  77  77  78  78
             78  79  79  79  80  80  80  81
             81  81  82  82  82  83  83  83
             84  84  84  85  85  85  86  86
             86  87  87  87  88  88  88  89
             89  89  90  91  92  93  94  95
             96  97  98  99 100 101 102 103
            104 105 106 107 108 109 110 111
            112 113 114 115 116 117 118 119
            120 121 122 123 124 125 126 127
            128 129 130 131 132 133 134 135
            136 137 138 139 140 141 142 143
            144 145 146 147 148 149 150 151
            152 153 154 155 156 157 158 159
            160 161 162 163 164 165 166 167
            168 169 170 171 172 173 174 175
            176 177 178 179 180 181 182 183
            184 185 186 187 188 189 190 191
            192 193 194 195 196 197 198 199
            200 201 202 203 204 205 206 207
            208 209 210 211 212 213 214 215
            216 217 218 219 220 221 222 223
            224 225 226 227 228 229 230 231
            232 233 234 235 236 237 238 239
            240 241 242 243 244 245 246 247
            248 249 250 251 252 253 254 255
        >;
        default-brightness-level = <200>;
    };

    backlight2: backlight2 {
        status = "okay";
        compatible = "pwm-backlight";
        //enable-gpios = <&gpio3 RK_PC3 GPIO_ACTIVE_HIGH>; // EDP_BL_EN
        pwms = <&pwm1 0 500000 0>;
        brightness-levels = <
              0   1   2   3   4   5   6   7
              8   9  10  11  12  13  14  15
             16  17  18  19  20  21  22  23
             24  25  26  27  28  29  30  31
             32  33  34  35  36  37  38  39
             40  41  42  43  44  45  46  47
             48  49  50  51  52  53  54  55
             56  57  58  59  60  61  62  63
             64  65  66  67  68  69  70  71
             72  73  74  75  76  77  78  79
             80  81  82  83  84  85  86  87
             88  89  90  91  92  93  94  95
             96  97  98  99 100 101 102 103
            104 105 106 107 108 109 110 111
            112 113 114 115 116 117 118 119
            120 121 122 123 124 125 126 127
            128 129 130 131 132 133 134 135
            136 137 138 139 140 141 142 143
            144 145 146 147 148 149 150 151
            152 153 154 155 156 157 158 159
            160 161 162 163 164 165 166 167
            168 169 170 171 172 173 174 175
            176 177 178 179 180 181 182 183
            184 185 186 187 188 189 190 191
            192 193 194 195 196 197 198 199
            200 201 202 203 204 205 206 207
            208 209 210 211 212 213 214 215
            216 217 218 219 220 221 222 223
            224 225 226 227 228 229 230 231
            232 233 234 235 236 237 238 239
            240 241 242 243 244 245 246 247
            248 249 250 251 252 253 254 255>;
        default-brightness-level = <200>;
    };

    lvds_panel: lvds-panel {
        compatible = "simple-panel";
        status = "okay";
        enable-gpios = <&gpio3 RK_PB0 GPIO_ACTIVE_HIGH>;
        backlight = <&backlight1>;
        enable-delay-ms = <35>;
        prepare-delay-ms = <6>;
        unprepare-delay-ms = <0>;
        disable-delay-ms = <20>;
        bus-format = <MEDIA_BUS_FMT_RGB888_1X7X4_SPWG>;
        disp_timings1:display-timings {
            native-mode = <&lvds_timing0>;
            lvds_timing0: timing0 {
                clock-frequency = <72000000>;
                hactive = <800>;
                vactive = <1280>;
                hfront-porch = <50>;
                hsync-len = <10>;
                hback-porch = <50>;
                vfront-porch = <10>;
                vsync-len = <18>;
                vback-porch = <10>;
                hsync-active = <0>;
                vsync-active = <0>;
                de-active = <0>;
                pixelclk-active = <0>;
            };
	    };

        ports {
            #address-cells = <1>;
            #size-cells = <0>;

            port@0 {
                reg = <0>;
                //dual-lvds-even-pixels;
                panel_in_lvds: endpoint {
                    remote-endpoint = <&lvds_out_panel>;
                };
            };
        };
    };

    edp_panel: edp-panel {
        compatible = "simple-panel";
        status = "disabled";
        enable-gpios = <&gpio3 RK_PC3 GPIO_ACTIVE_HIGH>;
        bus-format = <MEDIA_BUS_FMT_RBG888_1X24>;
        backlight = <&backlight2>;
        disp_timings2:display-timings {
            native-mode = <&edp_timing0>;
            edp_timing0: timing0 {
                clock-frequency = <140000000>;
                hactive = <1920>;
                vactive = <1080>;
                hfront-porch = <40>;
                hsync-len = <40>;
                hback-porch = <80>;
                vfront-porch = <16>;
                vsync-len = <8>;
                vback-porch = <16>;
                hsync-active = <0>;
                vsync-active = <0>;
                de-active = <0>;
                pixelclk-active = <0>;
            };
        };

        ports {
            #address-cells = <1>;
            #size-cells = <0>;

            port@0 {
                reg = <0>;
                panel_in_edp: endpoint {
                    remote-endpoint = <&edp_out_panel>;
                };
            };
        };
	};
};

// lvds out panel
&lvds {
	status = "okay";

	ports {
        lvds_out:port@1 {
            reg = <1>;

            lvds_out_panel: endpoint {
                remote-endpoint = <&panel_in_lvds>;
            };
        };
    };
};

// edp out panel
&edp {
    status = "disabled";
    hpd-gpios = <&gpio0 RK_PC2 GPIO_ACTIVE_HIGH>;
    force-hpd;
    enable-delay-ms = <200>; // vcc to hpd delay 200ms for power on sequence

    ports {
        edp_out: port@1 {
            reg = <1>;
            #address-cells = <1>;
            #size-cells = <0>;

            edp_out_panel: endpoint@ {
                //reg = <0>;
                remote-endpoint = <&panel_in_edp>;
            };
        };
    };
};

// lvds pwm
&pwm4 {
    status = "okay";
};

//mipi dsi1 pwm
&pwm5 {
    status = "okay";
};

//edp pwm
&pwm1 {
    status = "okay";
};

&vop {
    status = "okay";
    assigned-clocks = <&cru DCLK_VOP0>, <&cru DCLK_VOP1>;
    assigned-clock-parents = <&pmucru PLL_HPLL>, <&cru PLL_VPLL>;
};

// hdmi vop configuration
&route_hdmi {
    status = "okay";
    connect = <&vp0_out_hdmi>;
};

&hdmi {
    status = "okay";
};

&hdmi_in_vp0 {
    status = "okay";
};

&hdmi_in_vp1 {
    status = "disabled";
};
//======================


// lvds vop configuration
&dsi0 {
    status = "disabled";
};

&dsi0_in_vp0 {
    status = "disabled";
};

&dsi0_in_vp1 {
    status = "disabled";
};

&video_phy0 {
    status = "okay";
};

&lvds_in_vp1 {
    status = "disabled";
};

&lvds_in_vp2 {
    status = "okay";
};

&route_lvds {
    status = "disabled";
    connect = <&vp2_out_lvds>;
};
//====================


//edp vop configuration
&edp_phy {
    status = "disabled";
};

&route_edp {
    status = "disabled";
    connect = <&vp0_out_edp>;
};

&edp_in_vp0 {
    status = "disabled";
};

&edp_in_vp1 {
    status = "disabled";
};
//====================


// mipi dsi1 vop configuration
&route_dsi1 {
    status = "okay";
    //logo,rotation = <270>; //support rotation 90,180,270
    logo,mode = "center";
    connect = <&vp1_out_dsi1>;
};

&video_phy1 {
    status = "okay";
};

&dsi1_in_vp0 {
    status = "disabled";
};

&dsi1_in_vp1 {
    status = "okay";
};

/*
 * mipi_dphy1 needs to be enabled
 * when dsi1 is enabled
 */
&dsi1 {
    status = "okay";
    //rockchip,lane-rate = <1000>;
    dsi1_panel: panel@0 {
        status = "okay";
        compatible = "simple-panel-dsi";
        reg = <0>;
        backlight = <&backlight>;

        enable-gpios = <&gpio0 RK_PC5 GPIO_ACTIVE_HIGH>;
        reset-gpios = <&gpio3 RK_PB6 GPIO_ACTIVE_LOW>;

        enable-delay-ms = <35>;
        prepare-delay-ms = <6>;
        reset-delay-ms = <25>;
        init-delay-ms = <55>;
        unprepare-delay-ms = <0>;
        disable-delay-ms = <20>;
        mipi-data-delay-ms = <200>;
        size,width = <120>;
        size,height = <170>;
        dsi,flags = <(MIPI_DSI_MODE_VIDEO | MIPI_DSI_MODE_VIDEO_BURST | MIPI_DSI_MODE_LPM | MIPI_DSI_MODE_EOT_PACKET)>;
        dsi,format = <MIPI_DSI_FMT_RGB888>;
        dsi,lanes  = <4>;

        panel-init-sequence = [
            //39 00 04 B9 83 10 2E
            // 15 00 02 CF FF
            05 78 01 11
            05 32 01 29
            //15 00 02 35 00
        ];

        panel-exit-sequence = [
            05 00 01 28
            05 00 01 10
        ];

        disp_timings0: display-timings {
            native-mode = <&dsi1_timing0>;
            dsi1_timing0: timing0 {
                clock-frequency = <72600000>;//<80000000>;
                hactive = <800>;//<768>;
                vactive = <1280>;
                hsync-len = <14>;   //20, 50,10
                hback-porch = <26>; //50, 56,10
                hfront-porch = <32>;//50, 30,180
	            vsync-len = <8>;//4
	            vback-porch = <20>;//4
	            vfront-porch = <80>;//8
	            hsync-active = <0>;
	            vsync-active = <0>;
	            de-active = <0>;
                pixelclk-active = <0>;
            };
        };

        ports {
            #address-cells = <1>;
            #size-cells = <0>;

            port@0 {
                reg = <0>;
                panel_in_dsi1: endpoint {
                    remote-endpoint = <&dsi1_out_panel>;
                };
            };
        };
	};

    ports {
        #address-cells = <1>;
        #size-cells = <0>;

        port@1 {
            reg = <1>;
            dsi1_out_panel: endpoint {
            remote-endpoint = <&panel_in_dsi1>;
            };
        };
	};
};


&i2c1 {
    status = "okay";
    clock-frequency = <100000>;
    gslx680: gslx680@41 { // lvds tp
        status = "okay";
        compatible = "gslX680";
        reg = <0x41>;
        screen_max_x = <800>;
        screen_max_y = <1280>;
        touch-gpio = <&gpio0 RK_PB5 IRQ_TYPE_LEVEL_LOW>;
        reset-gpio = <&gpio0 RK_PB6 GPIO_ACTIVE_HIGH>;
        flip-x = <1>;
        flip-y = <0>;
        swap-xy = <0>;
        gsl,fw = <1>;
    };

    mc3230_1: mc3230sensor@4c {
        compatible = "gs_mc3230";
        reg = <0x4c>;
        type = <SENSOR_TYPE_ACCEL>;
        irq_enable = <0>;
        poll_delay_ms = <30>;
        layout = <1>;
        status = "disabled";
    };
};

&i2c5 {
    hxchipset@48{ //mipi tp
        status = "okay";
        compatible = "himax,hxcommon";
        reg = <0x48>;

        himax,rst-gpio = <&gpio0 RK_PB7 GPIO_ACTIVE_HIGH>;
        himax,irq-gpio = <&gpio2 RK_PD7 IRQ_TYPE_LEVEL_LOW>;
        //himax,3v3-gpio = <&gpio0 RK_PB4 GPIO_ACTIVE_HIGH>;
        //himax,pon-gpio = <&gpio0 RK_PB4 GPIO_ACTIVE_HIGH>;

        himax,panel-coords = <0 800 0 1280>;      //触摸范围
        himax,display-coords = <0 800 0 1280>;    //分辨率
        report_type = <1>;
    };

    mc3230_2: mc3230sensor@4c {
        compatible = "gs_mc3230";
        reg = <0x4c>;
        type = <SENSOR_TYPE_ACCEL>;
        irq_enable = <0>;
        poll_delay_ms = <30>;
        layout = <7>;
        status = "disabled";
    };
};

/delete-node/ &vcc3v3_lcd0_n;
/delete-node/ &vcc3v3_lcd1_n;
