// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2020 Rockchip Electronics Co., Ltd.
 *
 */

/ {

	vddh_8370_power: vddh-8370-power-regulator {
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&pca9555 PCA_IO0_0 GPIO_ACTIVE_HIGH>;
		regulator-name = "vddh_8370_power_en";
		regulator-always-on;
	};

	hub_reset_power: hub-reset-power-regulator {
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&pca9555 PCA_IO0_3 GPIO_ACTIVE_HIGH>;
		regulator-name = "hub_reset_power_en";
		regulator-always-on;
	};

	vcc_sys_5v_power: vcc-sys-5v-power-regulator {
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&pca9555 PCA_IO1_0 GPIO_ACTIVE_HIGH>;
		regulator-name = "vcc_sys_5v_power_en";
		regulator-always-on;
	};

	usb30_vcc5v0_power: usb30-vcc5v0-power-regulator {
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&pca9555 PCA_IO1_5 GPIO_ACTIVE_HIGH>;
		regulator-name = "usb_vcc_5v_power_en";
		regulator-always-on;
	};

	heat_power: heat-power-regulator {
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&pca9555 PCA_IO1_6 GPIO_ACTIVE_HIGH>;
		regulator-name = "heat_power_en";
		regulator-always-on;
	};

	vddl_8370_power: vddl-8370-power-regulator {
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&pca9555 PCA_IO1_7 GPIO_ACTIVE_HIGH>;
		regulator-name = "vddl_8370_power_en";
		regulator-always-on;
	};
};

&pca9555 {
	status = "okay";
	gpio-group-num = <200>;
	interrupt-controller;
	#interrupt-cells = <2>;
	interrupt-parent = <&gpio1>;
	interrupts = <RK_PB2 IRQ_TYPE_LEVEL_LOW>;
};

&spi0 {
	status = "okay";
	max-freq = <48000000>;
	dev-port = <0>;
	pinctrl-0 = <&spi0m0_pins>;
	pinctrl-1 = <&spi0m0_pins_hs>;

	spi_wk2xxx_1: spi_wk2xxx_1@00{
		status = "okay";
		compatible = "firefly,spi-wk2xxx";
		reg = <0x00>;
		spi-max-frequency = <10000000>;
		//power-gpio = <&pca9555 PCA_IO0_1 GPIO_ACTIVE_HIGH>;
		reset-gpio = <&pca9555 PCA_IO0_2 GPIO_ACTIVE_HIGH>;
		irq-gpio = <&gpio2 RK_PC1 IRQ_TYPE_EDGE_FALLING>;
		cs-gpio = <&gpio0 RK_PC6 GPIO_ACTIVE_HIGH>;
		/* rk3399 driver support SPI_CPOL | SPI_CPHA | SPI_CS_HIGH */
		//spi-cpha;     /* SPI mode: CPHA=1 */
		//spi-cpol;     /* SPI mode: CPOL=1 */
		//spi-cs-high;
	};
};

&gmac0 {
    status = "okay";
    tx_delay = <0x39>;
    rx_delay = <0x2c>;
};
